div {
    margin: 50px;
    position: absolute;
    width: 100px;
    height: 100px;
    animation-name: example;
    animation-duration: 5s;
    animation-iteration-count: infinite;
}

@keyframes example{
    0% { background-color: darkorange; left: 0; top: 0;}
    50% { background-color: lawngreen; transform: rotate(180deg); left: 500px;}
    100% { background-color: darkorange; left: 0px; top: 0;}
}
