@keyframes clock {
    0%   {transform: rotate(0);}
    100% {transform: rotate(360deg);}
}

.clock {
    width: 800px;
    height: 800px;
    position: relative;
    margin: 0 auto;
    background: url(clockface.png);
}

.sec, .min, .hour, .center{
    position: absolute;
}

.sec {
    background: url(sechand.png) no-repeat;
    width: 50px;
    height: 600px;
    top: 100px;
    left: 375px;
    z-index: 3;
    animation: clock 60s steps(60, end) infinite;
}
.min {
    background: url(minhand.png) no-repeat;
    z-index: 2;
    width: 50px;
    height: 600px;
    top: 103px;
    left: 375px;
    animation: clock 3600s steps(60, end) infinite;
}
.hour {
    background: url(hourhand.png) no-repeat;
    z-index: 1;
    width: 90px;
    height: 400px;
    top: 200px;
    left: 355px;
    animation: clock 43200s steps(12, end) infinite;
}
.center {
    background: url(clockcenter.png);
    z-index: 4;
    width: 30px;
    height: 30px;
    top: 385px;
    left: 385px;
}