* {
    margin: 0;
    padding: 0;
}

@keyframes train {
    0% {
        top: 40%;
        left: 3000px;
    }
    15% {
        top: 40%;
        left: 2500px;
    }
    45% {
        top: 40%;
        left: 2000px;
    }
    60% {
        top: 40%;
        left: 1000px;
    }
    75% {
        top: 40%;
        left: 0px;
    }
    100% {
        top: 40%;
        left: -2000px;
    }
}

@keyframes barrier {
    0% {
        transform: rotate(0);
    }
    5% {
        transform: rotate(90deg);
    }
    25% {
        transform: rotate(90deg);
    }
    30% {
        transform: rotate(0);
    }
    50% {
        transform: rotate(0);
    }
    55% {
        transform: rotate(90deg);
    }
    75% {
        transform: rotate(90deg);
    }
    80% {
        transform: rotate(0);
    }
    100% {
        transform: rotate(0);
    }
}

@keyframes light {
    0%{
        background: red;
        left: 0px;
    }
    49%{
        background: red;
        left: 0px;
    }
    50%{
        background: blue;
        left: 50px;
    }
    100%{
        background: blue;
        left: 50px;
    }
}

@keyframes car {
    0% {
        top: 35%;
        left: 10%;
        height: 500px;
        width: 500px;
    }
    13% {
        top: 35%;
        left: 10%;
        height: 700px;
        width: 700px;
    }
    50% {
        top: 90%;
        left: 20%;
        height: 800px;
        width: 800px;
    }
    100% {
        top: 110%;
        left: 20%;
        height: 900px;
        width: 900px;
    }
}

.container {
    width: 1000px;
    height: 800px;
    margin:0px auto;
    position: relative;
    background: deepskyblue;
}
.grass{
    position: absolute;
    background-color: lawngreen;
    width: 100%;
    height: 100px;
    bottom: 250px;
}
.road{
    position: absolute;
    background-color: gray;
    width: 100%;
    height: 250px;
    bottom: 0;
}

.traffic-light{
    width:100px;
    height:150px;
    position: absolute;
    right:25px;
    bottom:0;
}

.traffic-light-top{
    width:100px;
    height:50px;
    background: black;
}

.traffic-light-bottom{
    width:40px;
    height:100px;
    margin:0 auto;
    background: black;
}

.barrier-container {
    position: absolute;
    height: 200px;
    width: 200px;
    right: -50px;
    bottom:0px;
    animation: barrier 20s linear infinite;
}

.traffic-light-barrier {
    position: absolute;
    right:50px;
    bottom:80px;
    width:600px;
    height:20px;
    background: repeating-linear-gradient(-45deg,
    white,
    white 20px,
    red 20px,
    red 40px);
}

.light {
    background:red;
    position: absolute;
    width: 50px;
    height: 50px;
    border-radius: 100%;
    animation:light 10s steps(2) infinite;
}

.car{
    background: url("car.png");
    background-repeat: no-repeat;
    background-size: 40%;
    position: absolute;
    top: 35%;
    left: 10%;
    height: 471px;
    width: 500px;
    animation: car 10s linear infinite;
}

.train {
    background: url("train.png") no-repeat;    
    position: absolute;
    height: 750px;
    width: 800px;
    background-size: 90%;
    animation: train 10s linear infinite;

}



