@keyframes rotate {
    0%   {transform: rotate(0);}
    100% {transform: rotate(360deg);}
}

.solar-system {
    width: 500px;
    height: 500px;
    border: 1px transparent;
    margin: 100px auto;
    position: relative;
}

.sun-orbit {
    width: 600px;
    height: 600px;
    border: 1px solid transparent;
    animation: rotate 10s linear infinite;
    position: relative;
    box-sizing: border-box;
    border-radius: 100%;
}

/*.sun { 
    
    width: 300px;
    height: 300px;

    position: absolute;
    left: 150px;
    top: 150px;
    
}*/

/*.earth {
    width: 50px;
    height: 50px;
    position: absolute;
    left: 65px;
    top: 65px;
    border-radius: 100%;
}*/
.sun>img {
    width: 300px;
    height: 300px;
    position: absolute;
    left: 150px;
    top: 150px;
}

.earth>img {
    width: 70px;
    height: 50px;
    position: absolute;
    top: 60px;
    left: 60px;
}

.moon-orbit {
    width: 100px;
    height: 100px;
    position: absolute;
    left: 42px;
    top: 35px;
    border: 1px solid transparent;
    animation: rotate 3s linear infinite;
    animation-direction: reverse;
    border-radius: 100%;
}

/*.moon {
    width: 20px;
    height: 20px;
    position: absolute;
    left: 40px;
    top: -10px;
    background: gray;
    border-radius: 100%;
}*/

.moon>img {
    width: 20px;
    height: 20px;
    position: absolute;
    left: 40px;
    top: -10px;   
}