/* Код анімації */
@keyframes example {
    0%   {background-color: red;)}
    25%  {background-color: yellow; transform: translate(250px, 0)}
    50%  {background-color: blue; transform: translate(250px, 200px)}
    75%{background-color: purple; transform: translate(0, 200px)}
    100% {background-color: red;}
}

div {
    width: 100px;
    height: 100px;
    background-color: red;
    animation-name: example;
    animation-duration: 4s;
    animation-iteration-count: infinite;
}
