body {
    font: 1em Arial, sans-serif;
}
table {     
    border-collapse: separate;
    border-spacing: 10px;
    border: 1px solid #ccc;
    width: 500 px;
}

td {
    border: 1px solid #ccc;
    background: #f5f5f5;
    padding: 10px;   
    vertical-align: top;
    text-align: left;   
}

textarea {
    width: 400px;
}