body {
	font: 1em Arial, sans-serif;
}
table {	
	border-collapse: collapse;
	border: 1px solid #ccc;
	width: 100%;
}

td {
	border: 1px solid #ccc;
	background: #f5f5f5;
	padding: 5px;	
	vertical-align: top;
	text-align: left;	
}

td img {
	height: 250px;
}