*{
    font-family: "Arial";
    font-size: 16pt;
    text-align: center;
}
fieldset {
    width: 600px;
    margin: auto;
    margin-bottom: 20px;
}
fieldset input {
    font-size: 14pt;
    width: 300px;
}
legend {
    text-align: left;
    color: dodgerblue;
}
h1 {
    color: crimson;
}
label {
    text-align: right;
}
.right {
    text-align: right;
    width: 300px;
}