.block0 {
    background: url("0.png");
    width: 1280px;
    margin: 0 auto;
}

.block1 {
    background: url("2.png") no-repeat 1000px 350px;
}

.block2 {
    background: url("3.png") no-repeat 780px 365px;
}

.block3 {
    background: url("4.png") no-repeat 920px 560px;
}

.block4 {
    background: url("6.png") no-repeat 240px 170px;
}

.block5 {
    background: url("5.png") no-repeat 280px 295px;
}

.block6 {
    height: 945px;
    background: url("1.png") no-repeat 0px 555px;
}

.block0 {
    width: 1280px;
    height: 945px;
    margin: 0 auto;
    background:
            url("4.png") no-repeat 920px 560px,
            url("2.png") no-repeat 1000px 350px,
            url("3.png") no-repeat 780px 365px,
            url("1.png") no-repeat 0px 555px,
            url("5.png") no-repeat 280px 295px,
            url("6.png") no-repeat 240px 170px,
            url("0.png") no-repeat 0 0;
}