div {
    width: 420px;
    margin: 0 auto;
    padding: 10px;
    background-color: #eeeeee;
    border: 3px solid #aeaeae;
    font-family: Arial;
}

table {
    margin: 0 auto;
}

[type="email"],[type="text"] {
    background: #fdffb2;
    height: 30px;
    width: 250px;
    border: 2px solid #a6ab00;
}

[type="password"] {
    background: #fdc2ec;
    height: 30px;
    width: 250px;
    border: 2px solid #b50482;
}

[type="reset"] {
    background: #ff8d95;
}

select {
    background: #bdb8f9;
    width: 250px;
    height: 30px;
    border: 2px solid #24199a;
}

textarea, [type="submit"] {
    background: #a2ff9b;
}
textarea{
    width: 240px;
    border: 2px solid #007c00
}

tr>td:first-child {
    text-align: right;
    font-weight: bold;
}