h1 {
    font-family: Arial;
    font-size: 26px;
}

.logo {
    width:4%;
    vertical-align: middle;
}

.graduates>img {
    height: 20%;
    border-radius: 100%;
}

figcaption {
    margin-top: 20px;
    word-wrap: break-word;
    width: 16%;
    text-align: center;
    font-size: 14px;
    font-style: italic;
}

.blockquote {
    position: relative;
    width: 30%;
    margin-top: -240px;
    left: 300px;
}

.first {
    margin-bottom: 180px;
}

blockquote>span {
    font-style: normal;
    padding-left: 210px;
}

blockquote {
    display: inline-block;
    font-style: italic;
    text-align: justify;
    font-size: 16px;
}

blockquote:before {
    position: absolute;
    left: -20px;
    color: #bbb;
    content: "\201C";
    font-size: 3em;
    line-height: 0.1em;
    margin-right: 0.2em;
    font-weight: bold;
}

blockquote:after {
    position: absolute;
    bottom: -30px;
    right: -20px;
    color: #bbb;
    content: "\201D";
    font-size: 3em;
    font-weight: bold;
}