.nav {
    margin-top: 10px;
}

li {
    display: inline-block;
    margin-right: 40px;
    padding: 10px;
    border-radius: 5px;
    border: 2px solid #B0C7D8;
}

li a {
    text-decoration: none;
    color: #877160;
    font-size: 20px;
}

li>a:hover, li:hover {
    background-color: #607788;
    color: white;
}