.container {
    width: 1000px;
    margin: 0 auto;
}

.container:after {
    content: "";
    display: block;
}

.block {
    box-sizing: border-box;
    margin-top: 10px;
    width: 100px;
    height: 100px;
    float: left;
    background-image: url("white_sprait.png");
}

.google {
    background-color: #e20000;
}

.twitter {
    background-color: deepskyblue;
    background-position: -100px 0;
}

.email {
    background-color: orange;
    background-position: -200px 0;
}

.facebook {
    background-color: blue;
    background-position: -300px 0;
}

.rss {
    background-color: darkorange;
    background-position: -400px 0;
}

.vk {
    background-color: blue;
    background-position: 0px 100px;
}

.mailru {
    background-color: gold;
    background-position: -100px 100px;
}

.yandex {
    background-color: #e20000;
    background-position: -200px 100px;
}

.pencil {
    background-color: deepskyblue;
    background-position: -300px 100px;
}

.ok {
    background-color: darkorange;
    background-position: -400px 100px;
}
