svg {
    border: 1px solid black;
    display: table;
    margin: 0 auto;
}
.first {
    fill: none;
    stroke: tomato;
    stroke-width: 150;
    stroke-dasharray: 15;
}
.second {
    fill: none;
    stroke: darkorange;
    stroke-width: 125;
    stroke-dasharray: 10;
}
.third {
    fill: gold;
    stroke: gold;
    stroke-width: 75;
    stroke-dasharray: 15 10;
}
.third~circle {
    fill: white;
}