/*Загальні стилі*/
html,body {
    margin: 0;
    padding: 0;    
}
* {
    margin: 0;
    padding: 0;
}
a {
    text-decoration: none;
}
h1 {
    margin-top: 40px;
    margin-left: 0;
    font: 30px "Muller","Arial",sans-serif;
    color: white;
    letter-spacing: 2px;
    float: right;
    line-height: 0.8;
}
h2 {
    font: 22px "Muller","Arial",sans-serif;
    color: crimson;
    text-transform: uppercase;
    text-align: center;
}
h5 {
    font: 17px/30px Arial, sans-serif;
}
.clearfix:before, .clearfix:after {
    content: "";
    display: table;
}
.clearfix:after {
    clear: both;
}

/*Секції та блоки-контейнери*/
.section {
    padding: 30px 0 40px 0;
}

.container {
    width: 1020px;
    margin: 0 auto;
}

/*HEADER*/
header {
    width: 100%;
    height: 325px;
    background-color: #2d313a;
    padding-top: 0;
}

.header-item {
    float: left;
    margin-right: 75px;
}

a>img{
    margin: 40px 0 0 40px;
    width: 250px;
    height: 90px;
    vertical-align: top;
}

.logo+p{
    margin-left: 115px;
    font: 16px Arial, sans-serif;
    color: white;    
}

p+p {
    margin-left: 40px;
    margin-top: 20px;
    font: 22px Arial, sans-serif;
    color: white;    
}

.header-item:last-child {
    margin-top: 40px;
    margin-right: 0;
}

.btn-header {
    float: left;
    background: #34495e;
    width: 140px;
    padding: 15px 0 15px 0;
    text-transform: uppercase;
    font: 12px Arial, sans-serif;
    margin-right: 15px;
    margin-bottom: 50px;
}

.title {
    position: absolute;
    color: white;
    font: 12px Arial, sans-serif;
    top: 125px; 
    right: -80px; 
    float: both;    
}

.title:before, .title:after {
    content: '';
    display: inline-block;
    vertical-align: middle;
    box-sizing: border-box;
    width: 100px; 
    height: 1px;
    background: #626c78;   
}

.title:before {  
  margin-left: -100%;
  margin-right: 10px;
}

.title:after {  
  margin-right: -100%;
  margin-left: 10px;
}

.title+div {
    margin-top: 120px;
}

.signup {    
    text-align: right;
}

.signup>a {
    color: white;
    text-decoration: underline;
    font: 12px Arial, sans-serif;    
}

/*Стилі для кнопок:*/
.button{   
    color: #fff;
    cursor: pointer;
    border-radius: 5px;
    border: none;
}

.start {
    position: absolute;
    top: 240px;
    left: 40px;
    background: #27ae61;
    font: 20px Arial, sans-serif;
    font-style: normal;
    width: 300px;
    padding: 15px;
    text-transform: uppercase;
}

.start:hover {
     background: #2a8e55;
}

.follow {
    width: 260px;
    background: #5c7fa7;
    font: 14px Arial, sans-serif;
    font-style: normal;
    padding: 10px;
}

.follow:hover, .btn-header:hover {
    background: #43668d;
}

/*FEATURES*/

.features-wrapper {
    width: 940px;       
    margin: 0 auto;
}

.features-item {
    float: left;
    width: 290px;
    height: 440px; 
    margin-right: 30px;
    text-align: center;
    background-color: #ecf0f1;
    border-radius: 5px;
}
.features-item:last-child{
    margin-right: 0;
}

.features-item h2 {
    font-weight: bold;
    letter-spacing: 1px;
    margin-top: 30px;    
    font-size: 16px;
    line-height: 1.2;
}

.features-item h5 {
    margin-top: 30px;   
    font-size: 14px; 
    line-height: 1.5;
    padding: 0 25px;
}

.features-item img {
    padding-top: 55px;
}


/*FEEDBACK*/ 

.green {
    width: 100%;
    text-align: center;
    margin-bottom: 30px;    
}

.feedback-wrapper {
    width: 940px;    
    margin: 0 auto;
}

.feedback-item {    
    float: left;
    width: 290px;
    height: 320px;
    text-align: center;
    margin-right: 30px;    
}


.feedback-item:last-child{
    margin-right: 0;
}

q {
    display: block;
    quotes: "\00ab" "\00bb";
    font: 14px "Muller","Arial",sans-serif;
    font-style: italic;
    color: #8d8d8d; 
    padding: 0 45px;   
}

.feedback-item figcaption {
    text-decoration: underline;
    color: #62b084;
    font: 19px "Muller","Arial",sans-serif;
    margin-top: 35px;
    margin-bottom: 20px; 
}

.feedback-item img {
    border-radius: 5px;
}

/*STATISTICS*/
.statistics-wrapper {
    width: 940px;    
    margin: 0 auto;
}

.statistics-item {    
    float: left;
    width: 280px;
    height: 190px;    
    margin-right: 30px;     
}

.statisticsitem:last-child{
    margin-right: 0;
}

/*INFORMATION*/

.information-wrapper {
    width: 940px;       
    margin: 0 auto;
}

.information-item {
    float: left;
    width: 300px;
    height: 400px; 
    margin-right: 20px;
    text-align: center;    
}
.information-item:last-child {
    margin-right: 0;
}

.information-item p {         
    font: 14px "Muller","Arial",sans-serif;    
    margin-bottom: 20px;
    line-height: 1.3;    
}


/*Иконки браузеров*/
.browser {
    width: 170px;
    margin: 0 auto;
}
.browser-item {    
    float: left;
    margin-right: 5px;   
}

.browser-item:last-child {
    margin-right: 0;
}


/*FOOTER*/
footer {
    background-color: #2d3e50;
    height: 200px;
    width: 100%;
}

.footer-wrapper {
    width: 850px;       
    margin: 0 auto;
}

.footer-item {
    width: 150px;
    margin-right: 20px;
    float: left;  
    margin-top: 25px;  
}

.footer-item:first-child {
    margin-right: 300px;
    margin-left: -200px;
}
.footer-item:last-child {
    margin-right: 10px;
}

.footer-item img {
    float: left;
    margin-bottom: 15px;        
    width: 150px;
    height: 50px;
    vertical-align: top;
}

.footer-item ul {    
    list-style-type: none;      
}

.footer-item ul a { 
    color: white;
}

.menu>li:first-child>a {  
    font-weight: bold;
    text-decoration: none;
    font: 18px "Muller","Arial",sans-serif;
    line-height: 2;
}

.menu>li a {
    text-decoration: none;
    font: 14px "Muller","Arial",sans-serif;  
    line-height: 1.8; 
}