body {
    font: 11pt Arial;
    margin: 0;
}
h1 {
    font-size: 36px;
    margin: 0;
    color: pink;
}
#header {
    background: darkblue;
    padding: 10px;
}
#sidebar {
    float: left;
    border: 1px solid #333;
    width: 20%;
    padding: 5px;
    margin: 10px 10px 20px 5px;
}
#content {
    margin: 10px 5px 20px 25%;
    padding: 5px;
    border: 1px solid #333;
}
#footer {
    background: lightblue;
    padding: 5px;
    color: green;
    clear: left;
}