body {
    font: 10pt Arial;
    background: lightsalmon;
    margin: 0;
}
h2 {
    font-size: 11pt;
    color: #752641;
    margin-bottom: 0;
}
#container {
    width: 500px;
    margin: 0 auto;
}
#header {
    background: lightgreen;
    font-size: 20pt;
    color: black;
    padding: 15px;
}
#content {
    margin-right: 140px;
    padding: 10px;
    background: #fff;
}
#content p {
    margin-top: 0.3em;
}
#sidebar {
    float: right;
    width: 120px;
    padding: 10px;
    background: lightblue;
}
#sidebar a {
    color: #752641;
}
#footer {
    background: lightgreen;
    color: black;
    padding: 5px;
    margin-top: 15px;
}
