body {
    font: 0.8em Arial;
    background: black;
    color: #ffe;
}

a {
    color: #008BCE;
}

#container {
    width: 500px;
    margin: 0 auto;
    background: #323335;
}

#header {
    font-size: 2.2em;
    text-align: center;
    padding: 5px;
    background: green;
}

#nav,
#aside {
    float: left;
    width: 110px;
    padding: 5px;
}

#content {
    background: #292d33;
    margin: 0 120px;
    padding: 10px;
}

#aside {
    float: right;
    color: lightblue;
}

h2 {
    margin: 0 0 1em;
}

#footer {
    clear: both;
    padding: 5px;
    background: red;
    text-align: center;
}