#content {
    width: 500px;
    margin: 0 auto 50px;
    background-color: #752641;
    color: lightgoldenrodyellow;

}
#footer {
    position: fixed;
    left: 0;
    bottom: 0;
    padding: 10px;
    background: lightsalmon;
    color: black;
    width: 100%;
    text-align: center;
}