#centerLayer {
    position: absolute;
    width: 280px;
    height: 180px;
    left: 50%;
    top: 50%;
    margin-left: -150px;
    margin-top: -100px;
    background: lightsalmon;
    border: solid 2px orangered;
    padding: 10px;
    overflow: auto;
}