body {
    font: 10pt Arial;
    background: #233;
}

#container {
    width: 500px;
    margin: 0 auto;
    background: #123;
}

#header {
    font-size: 2.2em;
    text-align: center;
    padding: 5px;
    color: darkblue;
    background-color: lightsalmon;
}

#sidebar {
    margin-top: 10px;
    width: 110px;
    padding: 0 10px;
    float: left;
}

#content {
    margin-left: 130px;
    padding: 10px;
    background: lightseagreen;
}

#footer {
    background: lightskyblue;
    color: black;
    padding: 5px;
    clear: left;
}
