body {
    font: 10pt Arial, Helvetica, sans-serif;
    background: lightsalmon;
    margin: 0;
}
h2 {
    font-size: 1.1em;
    color: #752641;
    margin-bottom: 0;
}
#container {
    width: 500px;
    margin: 0 auto;
    position: relative;
}
#header {
    background: lightgreen;
    font-size: 24pt;
    font-weight: bold;
    color: black;
    padding: 5px;
}
#content {
    margin-right: 130px;
    padding: 10px;
    border-right: 1px dashed #183533;
    background: #fff;
}

#content p {
    margin-top: 0.3em;
}
#sidebar {
    position: absolute;
    right: 0;
    top: 120px;
    width: 120px;
    background: lightblue;
}
#footer {
    background: lightgreen;
    color: black;
    padding: 5px;
}
  