body {
    font: 10pt Arial;
    background: darkslategrey;
    margin: 0;
}

#container {
    width: 500px;
    margin: 0 auto;
    background: #f0f0f0;
}

#header {
    background: darkred;
    font-size: 24pt;
    font-weight: bold;
    color: lightblue;
    padding: 5px;
}

#content {
    float: left;
    width: 329px;
    padding: 10px;
    border-right: 1px dashed #183533;
    background: #fff;
}

#content p {
    margin-top: 5px;
}

#sidebar {
    float: left;
    width: 120px;
    padding: 10px;
}

#footer {
    background: darkblue;
    color: lightblue;
    padding: 5px;
}
.clear {
    clear: both;
}