/*Завдання 4*/
.menu2 a {
    display: block;
    padding: 10px;
}
.menu2 {
    width: 200px;
}
.menu2>li {
    background: green;
    border-bottom: 2px solid white;
}
.menu2>li>a {
    color: white;
}
ul a {
    color: black;
}
.menu2, .menu2 ul {
    list-style-type: none;
    margin: 0;
    padding: 10px;
    padding-top: 0;
}
.menu2 ul>li {
    background: orange;
    margin: 0;
}
.menu2 a {
    text-decoration: none;
}

/*Завдання 5*/
#population td , #population th {
    padding: 10px;
}
#population tr:nth-child(2n+1) {
    background: lightgray;
}
th{
    color: white;
    background-color: blue;
}
tfoot td {
    color:white;
    background-color: red;
}
#population td:first-child {
    width: 120px;
}
#population td:last-child {
    width: 150px;
}

/*Завдання 6*/
#chessboard>table{
    width: 320px;
    height: 320px;
    border-collapse: collapse;
    border: 1px solid grey;
}
#chessboard td {
    width: 40px;
    height: 40px;
}
#chessboard tr:nth-child(2n)>td:nth-child(2n+1), #chessboard tr:nth-child(2n+1)>td:nth-child(2n) {
    background-color: black;
}
#chessboard tr:nth-child(2n)>td:nth-child(2n), #chessboard tr:nth-child(2n+1)>td:nth-child(2n+1) {
    background-color: white;
}

