/*Завдання 2.1-2.4*/
p {
    color: green;
    text-align: center;
}
.textRed{
    color: red;
}
#second {
    color: deeppink;
}
p a {
    color: red;
}

/*Завдання 2.5*/
ul a {
    color: deeppink;
}
.menu1>li>a {
    color: green;
}
.menu1 ul {
    list-style-type: none;
}
.menu1>li:last-child ul{
    list-style-type: square;
}
.menu1>li:last-child ul a {
     text-decoration: none;
 }

/*Завдання 3*/
h1+p {
    font-size: 20px;
}
p>code {
    color: red;
}
p+code {
    color: deeppink;
}